#!/usr/bin/make -f

export CC := clang-20
export CXX := clang++-20
export DEB_BUILD_MAINT_OPTIONS := hardening=+all

%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DBUILD_TESTING=ON

# The system dwz does not support Clang 20's DWARF sections.
override_dh_dwz:
